@import 'bootstrap';
@import 'font-awesome';
@import 'lib/mocha.css';


.video-avatar {
  width: 64px;
  height: 64px;
  video {
    width: 64px;
    height: 64px;
    -webkit-mask-image: url('images/avatar-mask.svg');
  }
  list-style: none;
  margin-left: -12px;
}

li.video-avatar {
  float: left;
}

.mainview {
  .container;
}
