@import 'bootstrap';
@import 'font-awesome';
@import 'lib/mocha.css';

@video-size: 196px;
@video-indent: -12px;

.test-videos {
  video {
    width: @video-size;
    height: @video-size;
  }
}

.video-avatar {
  width: @video-size;
  height: @video-size;
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: @video-size;
    height: @video-size;
    -webkit-mask-image: url('images/avatar-mask.svg');
    z-index: 10;
  }
  .highlight {
    position: absolute;
    width: @video-size;
    height: @video-size;
    background-image: url('images/avatar-highlight.svg');
    z-index: 12;
  }
  .muted {
    .icon-FontAwesome();
    position: absolute;
    right: 10%;
    bottom: 10%;
    z-index: 13;
    &:before {
      color: @gray-light;
      content: @microphone-off;
    }
  }
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: @video-size;
    height: @video-size;
    background-image: url('images/avatar-edge.svg');
  }
  .user-icon {
    .icon-FontAwesome();
    font-size: @video-size/2;
    line-height: @video-size;
    position: relative;
    top: 50%;
    &:before {
      position: relative;
      margin-top: -25%;
      line-height: normal;
      display: block;
      content: @user;
      color: @gray-light;
    }
  }
  margin-left: @video-indent;
}

.video-avatars {
  overflow: hidden;
  ul {
    clear:left;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    left:50%;
    text-align:center;
  }
  li {
    display:block;
    float:left;
    list-style:none;
    padding:0;
    position:relative;
    right:50%;
  }
}

.mainview {
  .container;
  height: 100%
}

.tools {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0;
  .tool {
    display: inline-block;
    padding: @padding-base-vertical/4 @padding-base-horizontal/4;
    .icon-stack {
      width: 1.0em;
    }
    margin-bottom: 0; // For input.btn
    font-size: @font-size-base;
    font-weight: 500;
    line-height: @line-height-base;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 0;
    background: transparent;
    color: @btn-default-bg;
    &:hover {
      color: darken(@btn-default-bg, 10%);
    }
  }
}

.overlay {
  text-shadow: 0 2px 0 @body-bg, 0 -2px 0 @body-bg;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  &:before {
    content: "/"
  }
}

.muteVideo {
  -webkit-filter: grayscale(1.0) blur(0.25px);
}

html, body {
  height: 100%;
  background: @body-bg;
}

