<div ng-controller="Room">
  <div class="tools">
    <button type="button" mute-audio-stream="localVideo" ng-model="me.muteAudio" class="tool"></button>
    <button type="button" mute-video-stream="localVideo" ng-model="me.muteVideo" class="tool"></button>
  </div>
  <div class="video-avatars">
    <ul>
      <li class="video-avatar">
      <video class="" preload="none" muted auto-gain="true" attach-stream="localVideo"></video>
      </li>
      <li ng-repeat="(client, videoStream) in remoteVideo" class="video-avatar">
      <video class="" preload="none" attach-stream="videoStream"></video>
      </li>
    </ul>
  </div>
</div>
