
<div ng-controller="Test">
  <span class="video-avatar">
    Local A
    <video class="" id="peerA" preload="none"></video>
  </span>
  <span class="video-avatar">
    Local B
    <video class="" id="peerB" preload="none"></video>
  </span>
  <span class="video-avatar">
    Remote A
    <video class="" id="peerARemote" preload="none"></video>
  </span>
  <span class="video-avatar">
    Remote B
    <video class="" id="peerBRemote" preload="none"></video>
  </span>
  <div id="mocha"></div>
</div>
