
<div ng-controller="Test">
  <div>Expect 4 Videos</div>
  <span class="video-avatar">
    <span class="background"></span>
    <video class="" id="peerA" preload="none"></video>
  </span>
  <span class="video-avatar">
    <span class="background"></span>
    <video class="" id="peerB" preload="none"></video>
  </span>
  <span class="video-avatar">
    <span class="background"></span>
    <video class="" id="peerARemote" preload="none"></video>
  </span>
  <span class="video-avatar">
    <span class="background"></span>
    <video class="" id="peerBRemote" preload="none"></video>
  </span>
  <div id="mocha"></div>
</div>
